# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Build artifacts
dist/
build/
*.egg
*.whl

# Logs and temporary files
*.log
*.tmp
*.bak